<section class="card-container">
  <section class="info-container">
    <div class="title-container">
      <div [appTooltip]="'author'">{{ message.author }}</div>
      <div class="info" [appTooltip]="'score'">{{ message.score | number }}</div>
    </div>
    <div class="card-content">
      {{ message.text }}
    </div>
    <div class="card-labels">
      @if (message.message_id) {
        <div class="chip" [appTooltip]="'message id'">
          {{ message.message_id }}
        </div>
      }
      @if (message.chat) {
        <div class="chip" [appTooltip]="'chat'">
          {{ message.chat }}
        </div>
      }
    </div>
  </section>
</section>
