.bg-blur {
  width: 100vw;
  height: 100vh;
  background-color: #080114;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.bg-blur::after {
  content: "";
  width: 30%;
  height: 100%;
  filter: blur(12rem);
  opacity: 0.6;
  background-image: linear-gradient(to bottom, #f81d66, #7a0af2);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0 60% 60% 0;
}

.bg-blur::before {
  content: "";
  width: 30%;
  height: 100%;
  bottom: 0;
  right: 0;
  filter: blur(12rem);
  opacity: 0.6;
  background-image: linear-gradient(to top, #f81d66, #7a0af2);
  position: absolute;
  border-radius: 60% 0 0 60%;
}

.main-container {
  position: relative;
  margin: auto;
  top: 10rem;
  width: 50%;
  height: auto;
  padding: 2rem;
  display: flex;
  //background-color: rgba(255, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
